body {
    background-color: black;
    font-family: Verdana;
    color: white;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

.link {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

.middle {
    font-weight: 300px;
    font-size: 42px;
}

.copyright {
    text-align: right;
    color: gray;
}

.sub {
    color: gray;
    font-size: 21px;
}